{
            "name": "{{request.name}}",
            "request": {
                "method": "{{request.method}}",
                "header": [],
                "url": {
                    "raw": "{{request.url.raw}}",
                    {%- if request.url.protocol %} 
                    "protocol": "{{request.url.protocol}}",
                    {%- endif %}
                    "host": {{request.url.host | to_json}}
                },
                "description": "{{request.description}}"
            },
            "response": []
        }