{
            "name": "{{request.name}}",
            "request": {
                "method": "{{request.method}}",
                "header": [
                    {%- for key, value in request.headers.items() -%}
                    {% include "header.j2" -%}
                    {{ ", " if not loop.last else "" }}
                    {%- endfor -%}
                ],
                "url": {
                    "raw": "{{request.url.raw}}",
                    {%- if request.url.protocol %} 
                    "protocol": "{{request.url.protocol}}",
                    {%- endif %}
                    "host": {{request.url.host | to_json}}
                },
                "description": "{{request.description}}"
            },
            "response": []
        }